// @import url('https://fast.fonts.net/lt/1.css?apiType=css&c=6400dd17-fd70-4990-932b-b0eb52f1f77d&fontids=710694');

// @font-face{
// 	font-family: 'SackersGothicW01-Heavy';
// 	src: url('/fonts/710694/88d580f0-fc89-4509-99f3-49d2f3944623.eot?#iefix');
// 	src:
// 		url('/fonts/710694/88d580f0-fc89-4509-99f3-49d2f3944623.eot?#iefix') format('eot'),
// 		url('Fonts/710694/61ce039d-64f5-462d-bada-d8253c271b5c.woff2') format('woff2'),
// 		url('Fonts/710694/0e382226-2fd0-4217-b22f-6624a7afc569.woff') format('woff'),
// 		url('Fonts/710694/f3ef64db-65a0-40a0-9541-9628d06833dc.ttf') format('truetype');
// }

@font-face {
	font-family: 'Cerapro';
	src: url('/fonts/cerapro/cp-light-webfont.woff2') format('woff2'),
		 url('/fonts/cerapro/cp-light-webfont.woff') format('woff');
	font-weight: 200;
}
@font-face {
	font-family: 'Cerapro';
	src: url('/fonts/cerapro/cp-regular-webfont.woff2') format('woff2'),
		 url('/fonts/cerapro/cp-regular-webfont.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'Cerapro';
	src: url('/fonts/cerapro/cp-medium-webfont.woff2') format('woff2'),
		 url('/fonts/cerapro/cp-medium-webfont.woff') format('woff');
	font-weight: 600;
}
@font-face {
	font-family: 'Cerapro';
	src: url('/fonts/cerapro/cp-bold-webfont.woff2') format('woff2'),
		 url('/fonts/cerapro/cp-bold-webfont.woff') format('woff');
	font-weight: 800;
}

@font-face {
	font-family: 'Sackers';
	src: url('/fonts/sackers/at-sackers-heavy-gothic.woff2') format('woff2'),
		 url('/fonts/sackers/at-sackers-heavy-gothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
