html {
	background-color: $white;
	font: 1px/1.2 $font; // 1rem === 1px in this scenario
	box-sizing: border-box;
	text-size-adjust: 100%;
	opacity: 1;
	transition: opacity 0.1s ease-in-out;
	&.preloaded {
		opacity: 0;
	}
}
body {
	margin: 0;
	background-color: $white;
	color: $black;
	font: 14rem/1.35 $font;
}
