.DS_Store
/__sapper__/
.esm-cache
.env
.env.*
!.env.defaults
/_hidden
/src/routes/_refresh.svelte

/node_modules
!/src/node_modules
/src/node_modules/@sapper
/src/build/firebase.json
/src/routes/admin/_components/dist
