.DS_Store
/.vscode
/.svelte-kit
/package
.esm-cache
.env
.env.*
!.env.example
!.env.enc
cors.json
/_hidden

/node_modules
/firebase.json
# /src/routes/admin/_components/dist
/src/lib/@themes/*/static/css/global.css
/src/lib/@themes/*/static/css/global.css.map
/keyfile-dev.json
