$layout-width: 1200rem;

$size-narrow: 720rem;
$size-mid: 1200rem;
$size-wide: 1400rem;

$font: 'Muli', sans-serif;
$mono-font: Consolas, "Liberation Mono", Courier, monospace;
// $table-font: Verdana, Geneva, monospace;
// $input-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
// $input-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

$light: 300;
$normal: 400;
$bold: 700;
$heavy: 900;

$black: #000000;
$white: #ffffff;
$gray-light: #f5f5f5;
$gray-main: #cbd0d1;
$gray-dark: #3b5054;

$links: #e53c34;
$layout-1: #eee;
$layout-2: #ddd;

$success-1: #629275;
$success-2: #408424;
$warning-1: #fbc90d;
$warning-2: #f4e4a6;
$alert-1: #f3337b;
$alert-2: #f36c9f;
$access-1: #c4efff;
$access-2: #9cccdf;

$z-back: 0;
$z-middle: 500;
$z-front: 1000;

$z-back-modal: 10000;
$z-middle-modal: 10000;
$z-front-modal: 10000;

// see: https://www.sitepoint.com/the-postcss-guide-to-improving-selectors-and-media-queries/

$res-smallest: 450px;
$res-small: 768px;
$res-medium: 900px;
$res-large: 1100px;
$res-huge: 1260px;

@custom-media --smallest (width < $res-smallest);
@custom-media --small ($res-smallest <= width < $res-small);
@custom-media --small-down (width < $res-small);
@custom-media --small-up (width >= $res-smallest);
@custom-media --medium ($res-small <= width < $res-medium);
@custom-media --medium-down (width < $res-medium);
@custom-media --medium-up (width >= $res-small);
@custom-media --medium-to-small ($res-smallest <= width < $res-medium);
@custom-media --large ($res-medium <= width < $res-large);
@custom-media --large-down (width < $res-large);
@custom-media --large-up (width >= $res-medium);
@custom-media --large-to-medium ($res-small <= width < $res-large);
@custom-media --huge (width >= $res-large);
@custom-media --max (width >= $res-huge);

// @media (--small) { :global(body) { background-color: red !important; } }
// @media (--medium) { :global(body) { background-color: orange !important; } }
// @media (--large) { :global(body) { background-color: yellow !important; } }
// @media (--huge) { :global(body) { background-color: green !important; } }
// @media (--max) { :global(body) { background-color: blue !important; } }

// @media (--small) { .c-App { background-color: red !important; } }
// @media (--medium) { .c-App { background-color: orange !important; } }
// @media (--large) { .c-App { background-color: yellow !important; } }
// @media (--huge) { .c-App { background-color: green !important; } }
// @media (--max) { .c-App { background-color: blue !important; } }
